/vendor
/config/app.php
/tmp/*
/logs/*
/webroot/img/files/*
/webroot/csv
/.idea
.htaccess
tests
.editorconfig
phpunit.xml.dist
.DS_Store
.zshrc
/config/Migrations/schema-dump-default.lock
composer.lock
/webroot/tickets/*
!/webroot/tickets/index.html
.gitmodules
/node_modules
